<footer class="footer">
	<div class="container" align="center">
		<ul class="site-footer">
			<li>
				<a href="https://github.com/square-1111/" class="icon fa fa-github fa-lg"></a>
			</li>
			<li>
				<a href="mailto:tezueshvarshney@zhcet.ac.in" class="icon fa fa-envelope fa-lg"></a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/tezuesh" class="icon fa fa-linkedin fa-lg"></a>
			</li>
			<li>
				<a href="https://twitter.com/tezuesh" class="icon fa fa-twitter fa-lg"></a>
			</li>
			<li>
				<a href="assets/pdf/resume.pdf" class="icon fa fa-file fa-lg"></a>
			</li>
		</ul>
	</div>
</footer>