<footer class="site-footer">
		<div class="container" align="center"> 
			<!-- <font size="-.4"> -->
				<ul class="list">
						<li><a href="https://github.com/square-1111/" class="icon brands fa-github fa-2x">
							<!-- <span class="label">square-1111</span> -->
						</a></li>
						<li><a href="mailto:tezueshvarshney@zhcet.ac.in" class="icon solid fa-envelope fa-2x">
							<!-- <span class="label">tezueshvarshney@zhcet.ac.in</span> -->
						</a></li>
						<li><a href="https://www.linkedin.com/in/tezuesh"class="icon brands fa-linkedin fa-2x">
							<!-- <span class="label">tezuesh</span> -->
						</a></li>
				<!-- <br> -->
						<li><a href="https://twitter.com/square_1111" class="icon brands fa-twitter fa-2x">
							<!-- <span class="label">tezuesh</span> -->
						</a></li>
						<li><a href="data/resume.pdf" class="icon solid fa-file fa-2x">
							<!-- <span class="label">Resume</span> -->
								
							</a></li>
				</ul>				
		  <!-- </font> -->
		</div>
	</footer>