<section class="intro">
		<div class="container">
			<p>
				<img alt="Tezuesh Varshney" src="/assets/images/avatar.jpg" style="float: right; max-width: 17%; margin: 1em 0.2em 0.1em 1em; border-radius: 500px">
			</p>
			<p align="justify">Welcome! I'm a Research Intern at <a href="https://cps.iisc.ac.in/">Robert Bosch Centre for Cyber-Physical Systems@IISc Bengaluru</a> advised by <a href="https://www.csa.iisc.ac.in/~chiru/">Professor Chiranjib Bhattacharyya</a> working on High Fidelity Image Generation. In general, I am interested in research that lies at the intersection of text and Image/3D Modeling.</p>
			<p>In my free time I play football, fiddle around with <a href="https://threejs.org/"> threejs</a>, solve rubik's cube and do photography. </p>
			<hr>
			<font size="+2">
				<p><u><strong>Experience</strong></u></p>
			</font>
			<ul>
				<li><span><strong>Robert Bosch Centre for Cyber-Physical Systems | IISc Bengaluru</strong></span>
					<br>	<i>Research intern under <a href="https://www.csa.iisc.ac.in/~chiru/">Professor Chiranjib Bhattacharyya </a> and 
										<a href="https://vineethak.github.io/">Vineetha Kondameedi</a> and <a href="https://sabyasachis.github.io/">Sabyasachi Sahoo</a>
										</i>
					<br>- Working on Generative Modeling for Images. Developing an approach to explicitly model high-level and low-level features of images.</li>
					
				<li><span><strong>Communication and Signals Lab | IIT, Hyderabad</b></strong></span>
					<br>	<i>Research intern under <a href="https://scholar.google.com/citations?user=jgwFyg4AAAAJ&hl=en">Dr. Aditya Siripuram</a> and 
										<a href="https://www.researchgate.net/profile/Charantej_Reddy">Charantej Reddy</a>
										</i>
					<br>- Worked on attacking and generating probable dataset given a black box image classifier using Generative Networks. 
					<br>- studied the stability of Generative Adversarial Networks and modified the architecture accordingly.</li>
					
				<li><span><strong>Autonomous Underwater Vehicle Club | Aligarh Muslim University</strong></span>
					<br>	<i>Advised by <a href="https://www.amu.ac.in/dshowfacultydata.jsp?did=34&eid=10061770">
											Dr. Saleem Anwar Khan </a>
										</i>
					<br>Developed an Intelligent Agent to facilitate the control, dynamics, and vision of Underwater Vehicle. Also, mapped underwater environment using camera, pressure sensor and IMU.</li>
			</ul>
			<hr>
			<font size="+2">
			<p><u><strong>Projects</strong></u></p>
		</font>
			
			<ul>
				<li><a href="https://github.com/square-1111/3D-Point-Cloud-Modeling">3D Point Cloud Modeling:</a> : PyTorch implementation of Learning Representations and Generative Models for 3D Point Clouds </li>
				<li><a href="assets/pdf/Major_Project_Report.pdf">Analogy Generation</a> : Built an analogy-based story generation using multi-relational embeddings of entities and relationships.</li>
				<li><a href="https://github.com/square-1111/Document-Classification">Document Analysis using Graph Convolution Networks</a> : Build a global heterogeneous graph for representation of words and documents for 20 Newsgroups dataset to classify documents.</li>
				<li><a href="assets/pdf/sexism.pdf">Documenting Sexism in Amateur Literature</a> : Fine-tuned ULMFiT to predict sexism in amateur writing from subreddit r/WritingPrompts</a>.</li>
				<li><a href="https://github.com/square-1111/Apery">Apery</a> : Implemented Hill Climbing algorithm and transfer learning algoithm to generate artistic images.</li>
				<li><a href="assets/pdf/Colloquim.pdf">Zero Shot learning and Application</a> : A survey based project to explore resource bound reasoning and learning its applications.</li>
			</ul>
		<!-- </font> -->
		</div>
	</section>