<section class="intro">
		<div class="container">
			<p>
				<img alt="Tezuesh Varshney" src="/assets/images/avatar.jpg" style="float: right; max-width: 25%; margin: 1em 0.2em 0.1em 1em; border-radius: 500px">
			</p>
			<p align="justify">Welcome! I'm a Senior Year Computer Engineering student at	<a href="https://www.amu.ac.in">Aligarh Muslim University</a> advised by <a href="https://www.amu.ac.in/dshowfacultydata.jsp?did=30&eid=10055717">Professor M. M. Sufyan Beg</a> and	<a href="https://www.amu.ac.in/dshowfacultydata.jsp?did=30&eid=10072775">Professor Misbahul Haque</a>. </p>
			<p align="justify">Besides, I like to create animated 3D computer graphics, look for patterns and play football. I can often be found working on code projects or bingeing F.R.I.E.N.D.S., Sherlock or Tom and Jerry in my free time.</p>
			<p>Some of my current projects:</p>
			<font size="-0.3">
			<ul>
				<li><a href="assets/pdf/Major_Project_Presentation.pdf">Analogy Generation</a> : Working on analogy-based story generation using multi-relational embeddings of entities and relationships.</li>
				<li><a href="https://github.com/square-1111/Document-Classification">Document Analysis using Graph Convolution Networks</a> : Build a global heterogeneous graph for representation of words and documents for 20 Newsgroups dataset to classify documents.</li>
				<li><a href="assets/pdf/sexism.pdf">Documenting Sexism in Amateur Literature</a> : Fine-tuned ULMFiT to predict sexism in amateur writing from subreddit r/WritingPrompts</a>.</li>
				<li><a href="https://github.com/square-1111/Apery">Apery</a> : Implemented Hill Climbing algorithm and transfer learning algoithm to generate artistic images.</li>
				<li><a href="assets/pdf/Colloquim.pdf">Zero Shot learning and Application</a> : A survey based project to explore resource bound reasoning and learning its applications.</li>
			</ul>
		</font>
		</div>
	</section>