<section class="intro">
		<div class="container">
			<p>
				<img alt="Tezuesh Varshney" src="/assets/images/avatar.jpg" style="float: right; max-width: 25%; margin: 1em 0.2em 0.1em 1em; border-radius: 500px">
			</p>
			<p align="justify">Welcome! I'm a Research Intern at <a href="https://cps.iisc.ac.in/">Robert Bosch Centre for Cyber-Physical Systems @ IISc Bangalore</a> advised by <a href="https://www.csa.iisc.ac.in/~chiru/">Professor Chiranjib Bhattacharyya</a> working on High Fidelity Image Generation. In general, I am interested in research that lies at the intersection of text and Image/3D Modeling.</p>
			<p>In my free time I play football, fiddle around with <a href="https://threejs.org/"> threejs</a>, solve rubik's cube and do photography. </p>
			<p>Some of my current projects:</p>
			<font size="-0.3">
			<ul>
				<li><a href="https://github.com/square-1111/3D_Latent">3D Point Cloud Modeling:</a> : PyTorch implementation of Learning Representations and Generative Models for 3D Point Clouds </li>
				<li><a href="assets/pdf/Major_Project_Presentation.pdf">Analogy Generation</a> : Working on analogy-based story generation using multi-relational embeddings of entities and relationships.</li>
				<li><a href="https://github.com/square-1111/Document-Classification">Document Analysis using Graph Convolution Networks</a> : Build a global heterogeneous graph for representation of words and documents for 20 Newsgroups dataset to classify documents.</li>
				<li><a href="assets/pdf/sexism.pdf">Documenting Sexism in Amateur Literature</a> : Fine-tuned ULMFiT to predict sexism in amateur writing from subreddit r/WritingPrompts</a>.</li>
				<li><a href="https://github.com/square-1111/Apery">Apery</a> : Implemented Hill Climbing algorithm and transfer learning algoithm to generate artistic images.</li>
				<li><a href="assets/pdf/Colloquim.pdf">Zero Shot learning and Application</a> : A survey based project to explore resource bound reasoning and learning its applications.</li>
			</ul>
		</font>
		</div>
	</section>